body{
	padding-top : 70px;
	padding-bottom : 70px;
}

#map { 
	height: 600px; 
	width : 100%; 
	padding: 0;
	position: relative;
}

.pad{
	margin-top: 10px;
	margin-left:10px;
}

.margin-top{
	margin-top: 100px;
}

#nav-logo{
	margin-top: 3px;
	margin-right: 10px; 
	height: 50px;
	width: 60px;
}

#padding_right{
	padding-right: 100px;
}

.size{
	font-size: 16px;
}

#geocomplete { width: 200px}

.map { 
  width: 450px; 
  height: 400px; 
  margin: 10px 20px 10px 0;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: red;
  border-radius: 10px;
}